<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <meta charset="UTF-8" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
  <meta name="_csrf_token" th:content="${_csrf.token}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Dim Sum</title>

  <link type="text/css" rel="stylesheet" th:href="@{/libs/fontawesome/css/fontawesome.min.css}" />
  <link type="text/css" rel="stylesheet" th:href="@{/libs/fontawesome/css/solid.min.css}" />

  <link type="text/css" rel="stylesheet" th:href="@{/css/output.css}" />

  <script src="/js/site-config.js"></script>
</head>

<body class="flex flex-col min-h-screen">
  <div id="header" class="m-4">
    <div class="flex items-end border-b-2 border-grey-200">

      <div class="flex-1">
        <div class="shrink">
          <a href="/"><img th:src="@{/img/dimsum_logo.svg}" class="w-32" /></a>
        </div>
      </div>

      <div class="flex-none text-green-200 font-sarabun font-light font text-24 cursor-default"
        th:text="${instanceName}"></div>

      <div class="flex-1">
        <form sec:authorize="isAuthenticated()" id="logout" action="/logout" method="POST">
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
          <input type="submit" value="log out"
            class="font-inter text-16 px-2 py-1 my-1 ml-4 text-black hover:bg-green-200 hover:text-white bg-grey-100 rounded-lg float-right" />
        </form>
        <span sec:authorize="isAuthenticated()" sec:authentication="name"
          class="font-inter text-16 text-black cursor-default float-right pl-4 inline-block mt-2"></span>
        <a th:href="${bugReportUrl}" target="_blank" rel="noopener noreferrer"
          class="font-inter text-16 text-black hover:text-green-200 float-right pl-4 inline-block mt-2">report
          a problem</a>
        <a href="https://github.com/oicr-gsi/dimsum" target="_blank" rel="noopener noreferrer"
          class="font-inter text-16 text-black hover:text-green-200 float-right inline-block mt-2">
          help</a>

      </div>
    </div>
    <nav th:unless="${hideNav}" class="text-right">
      <a th:href="@{/notifications}" class="text-green-200 font-bold hover:underline">Notifications</a>
    </nav>
  </div>

  <main class="flex-auto mx-4" layout:fragment="content">content</main>

  <footer class="font-inter bg-green-200 text-center text-white mt-20 py-1 text-10 font-medium"
    th:text="'version ' + ${buildVersion} + ' | last fetched ' + ${dataAgeMinutes} + ' minutes ago'"></footer>
</body>

</html>