<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">

<head>
  <meta charset="UTF-8" />
  <title>Omissions</title>
</head>

<body>
  <div layout:fragment="content">

    <h1 class="text-green-200 font-sarabun font-light font text-32">
      Omissions <i id="omissionsInfo" class="fa-solid fa-circle-question text-black"></i>
    </h1>

    <div id="omissionTableContainer"></div>

    <script src="/js/omissions.js"></script>

  </div>
</body>

</html>