<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">

<head>
  <meta charset="UTF-8" />
  <title th:text="${title}">Details</title>
</head>

<body>
  <div layout:fragment="content">

    <div class="flex space-x-2 items-center">
      <h1 class="text-green-200 font-sarabun font-light font text-32" th:text="${title}">Details</h1>
      <a th:if="${titleLink != null}" th:href="${titleLink}" target="_blank" rel="noopener noreferrer">
        <img src="/img/miso_logo.svg" class="w-6" alt="View in MISO" title="View in MISO">
      </a>
    </div>

    <div>
      <div class="flex gap-2">
        <form action="" method="get" id="afterDateForm"
          class="font-inter font-medium text-12 text-black bg-grey-100 px-2 py-1 rounded-md hover:ring-2 ring-green-200 ring-offset-1 flex space-x-2 items-center">
          <div>
            <label for="date">After Date:</label>
            <input type="date" id="afterDate" />
          </div>
        </form>
        <form action="" method="get" id="beforeDateForm"
          class="font-inter font-medium text-12 text-black bg-grey-100 px-2 py-1 rounded-md hover:ring-2 ring-green-200 ring-offset-1 flex space-x-2 items-center">
          <div>
            <label for="date">Before Date:</label>
            <input type="date" id="beforeDate" value="" />
          </div>
        </form>
        <div id="projectSummaryTableFilter"></div>
      </div>
    </div>

    <div id="projectSummaryContainer"></div>
    <div id="tabBarContainer" class="mt-4"></div>

    <div id="tableContainer" th:data-detail-type="${detailType}" th:data-detail-value="${detailValue}"></div>
    <script src="/js/projectDetails.js"></script>

  </div>
</body>

</html>