<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">

<head>
  <meta charset="UTF-8" />
  <title th:text="${title}">Run Details</title>
</head>

<body>
  <div layout:fragment="content">
    <div class="flex space-x-2 items-center">
      <h1 class="text-green-200 font-sarabun font-light font text-32" th:text="${title}">
        Run Details
      </h1>
      <a id="misoRunLink" th:data-run-name="${runName}">
        <img src="/img/miso_logo.svg" class="w-6" alt="View in MISO" title="View in MISO">
      </a>
    </div>

    <!-- TODO: list sequencing attributes -->

    <h2 th:if="${showLibraryQualifications}" class="text-green-200 font-sarabun font-light font text-24 mt-8">Library
      Qualifications</h2>
    <div th:if="${showLibraryQualifications}" id="libraryQualificationsTableContainer"></div>

    <h2 th:if="${showFullDepthSequencings}" class="text-green-200 font-sarabun font-light font text-24 mt-8">Full Depth
      Sequencings</h2>
    <div th:if="${showFullDepthSequencings}" id="fullDepthSequencingsTableContainer"></div>

    <script src="/js/run.js"></script>

  </div>
</body>

</html>